{% extends "education/school_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url "education:candidates" uuid=school.uuid %}">{% trans "Candidates" %}</a></li>
<li>{% if object.pk %}{% trans "Edit candidate" %} {{ object }}{% else %}{% trans "Create new candidate" %}{% endif %}</li>{% endblock %}

{% block content %}
<h1>{% if object.pk %}{% trans "Edit candidate" %} {{ object }}{% else %}{% trans "Create new candidate" %}{% endif %} <small>{{ school.name }}</small></h1>
<p>{% trans "Using this form, you can add new candidate with special arrangements, ie. order special material for a candidate." %}</p>
<form method="post" action="">
    {% csrf_token %}
    {% crispy form form.helper %}
    {% for i in inlines %}
    <fieldset>
        <legend>{% trans "Exam Registrations" %}</legend>
        {% crispy i helper %}
    </fieldset>
    {% endfor %}
    {{ inlines.management_form|crispy }}

    <p><input type="submit" value="{% trans "Submit" %}" class="btn btn-success"/> <input type="reset" value="{% trans "Reset" %}" class="btn btn-danger"/></p>

</form>
{% endblock %}