{% extends "education/school_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url "education:candidates" uuid=school.uuid %}">{% trans "Candidates" %}</a></li>
<li>{% if object.pk %}{% trans "Edit candidate" %} {{ object }}{% else %}{% trans "Create new candidate" %}{% endif %}</li>{% endblock %}

{% block content %}
<h1>{% if object.pk %}{% trans "Edit candidate" %} {{ object }}{% else %}{% trans "Create new candidate" %}{% endif %} <small>{{ school.name }}</small></h1>
<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    {% for i in inlines %}
        {{ i }}
    {% endfor %}
    {{ inlines.management_form }}

{% comment %}     {% crispy form form.helper %}

    {{ formset.management_form }}
    
    {% for er_form in formset %}
        <fieldset>
        {{ er_form.as_table }}
        </fieldset>
    {% endfor %} #}
{% endcomment %}
    <p><input type="submit" value="{% trans "Submit" %}" class="btn btn-success"/> <input type="reset" value="{% trans "Reset" %}" class="btn btn-danger"/></p>

</form>
{% endblock %}