{% extends "education/school_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block breadcrumb %}{{ block.super }}
<li><a href="{% url "education:orders" uuid=school.uuid %}">{% trans "Orders" %}</a></li>
<li>{% trans "Pre-fill order with XML file" %}</li>{% endblock %}

{% block content %}
<h1>{% trans "Pre-fill order with XML file" %} <small>{{ school.name }}</small></h1>
{% blocktrans %}Using this form you can upload list of candidates as XML file, which will be used to pre-fill your order form.{% endblocktrans %}

{% crispy form %}

{% endblock %}