{% extends "education/base.html" %}
{% load i18n %}

{% block title %}{{ object.name }} - {{ block.super }}{% endblock %}

{% block breadcrumb %}<li><a href="{% url "education:dashboard" %}">{% trans "Education" %}</a></li><li><a href="{% url "education:schools" %}">{% trans "Schools" %}</a></li>
<li><a href="{% url "education:school" uuid=school.uuid %}">{{ school.name }}</a></li>
<li><a href="{% url "education:candidates" uuid=school.uuid %}">{% trans "Special Arrangements" %}</a></li>
<li><a href="">{{ object.name }}</a></li>{% endblock %}

{% block content %}
<h1>{{ object }} <small>{{ school.name }}</small> <a class="btn btn-sm btn-default" href="{% url "education:candidateedit" uuid=school.uuid candidate_uuid=object.uuid %}">{% trans "Edit" %}</a> </h1>



{% endblock %}