{% extends "exams/base.html" %}
{% load i18n %}

{% block title %}{% trans "Examinations" %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans "Examinations" %}</h1>
<ul>
{% for o in object_list %}
    <li><a href="{% url "exams:examination" slug=o.slug %}">{{ o.title }}</a> {% if o.begin %}<small>{{ o.begin }} - {{ o.end }}</small>{% endif %}{% if o.is_now %} <span class="label label-info">{% trans "Now" %}</span>{% endif %}</li>
{% empty %}
    <li>{% trans "No examinations available." %}</li>
{% endfor %}
</ul>
{% endblock %}