{% load i18n %}
<h4 class="list-group-item-heading">{% trans "Order" %} {{ o.date }} <small>{% trans "to site " %} <strong>{{ o.site.name }}</strong></small><!-- <span class="label label-info">{{ o.get_status_display }}</span>--></h4>
<p><a href="#" class="btn btn-success pull-right">{% trans "Update order" %}</a><strong>{% trans "By" %}</strong> {{ o.created_by }}</p>

{% regroup subjects by group as subject_list %}
{% for sg in subject_list %}
<h4>{{ sg.grouper.name }}</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th colspan="3">{% trans "Amount" %}</th>
        </tr>
        <tr>
            <th>{% trans "Subject" %}</th>
            <th>{% trans "Written" %}</th>
            <th>{% trans "Listening" %}</th>
            <th>{% trans "CD" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for s in sg.list %}
        <tr>
            <td>{{ s.name }} ({{ s.short}})</td>
            <td style="width: 10%;">A</td>
            <td style="width: 10%;">B</td>
            <td style="width: 10%;">C</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}


<h4>{% trans "Additional Details" %}</h4>
<p>{{ o.additional_details|default:"-" }}</p>