{% extends "education/school_base.html" %}
{% load i18n %}
{% load education %}
{% load orders %}

{% block title %}{% trans "Orders" %} - {{ school.name }} - {{ block.super }}{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>{% trans "Material Orders" %}</li>{% endblock %}


{% block content %}
<h1>{% trans "Material Orders" %} <small>{{ school.name }}</small> <a href="{% url "education:ordercreate" uuid=school.uuid %}" class="btn btn-success">{% trans "Create new" %}</a> <a href="{% url "education:candidateupload" uuid=school.uuid %}" class="btn btn-default">{% trans "Pre-fill order with XML file" %}</a></h1>
{% url "education:school" uuid=school.uuid as school_url %}
<p>{% blocktrans with school_name=school.name examination=current_examination total=object_list|count %}Below is a list of all material orders in <a href="{{ school_url }}">{{ school_name }}</a>, for examination <strong>{{ examination }}</strong>. A total of {{ total }} orders.{% endblocktrans %}</p>

<h2>{% trans "Current Orders" %} <small>{% trans "Need fancy description here." %}</small></h2>

<p>{% trans "Below are current orders. Click to view details." %}</p>
{% if current_orders %}
    <ul class="list-group">
        {% for o in current_orders %}
                {% include "exams/order_list_item.html" %}
        {% endfor %}
    </ul>
    {% else %}
    <p><em>{% trans "No current orders." %}</em></p>
{% endif %}

<h2>{% trans "Previous Orders" %} <small>{% trans "Need fancy description here." %}</small></h2>
<p>{% trans "Remove this? Distracts user..." %}</p>
{% if object_list %}
<ul class="">
{% for o in object_list %}
{% if forloop.counter0 %}
    <li><a href="{% url "education:order" uuid=school.uuid order_uuid=o.uuid %}">{{ o.date }}</a>, {% trans "to site" %} {{ o.site.name }} <small>({% trans "by" %} {{ o.created_by }})</small>
        <ul>
            {% for m in materials %}
            <li><strong>{{ m }}:</strong> {% order_mt_total o m %} {% trans "pcs" %}</li>
        {% endfor %}
        </ul>
    </li>
{% endif %}
{% endfor %}
</ul>
{% else %}
<p><em>{% trans "No previous orders." %}</em></p>
{% endif %}

{% endblock %}