{% extends "education/school_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load orders %}

{% block title %}
{% if object.pk and object.status != 'i' %}{% trans "Edit order" %} {{ object }}{% else %}{% trans "Create new order" %}{% endif %}
{% endblock %}

{% block breadcrumb %}{{ block.super }}
    {% comment %}<li><a href="{% url "education:candidates" uuid=school.uuid %}">{% trans "Candidates" %}</a></li>{% endcomment %}
    <li><a href="{% url "education:orders" uuid=school.uuid %}">{% trans "Orders" %}</a></li>
    <li>{% if object.pk and object.status != 'i' %}{% trans "Edit order" %} {{ object }}{% else %}{% trans "Create new order" %}{% endif %}</li>
{% endblock %}

{% block content %}
<h1>{% if object.pk and object.status != 'i' %}{% trans "Edit order" %} {{ object.date }}{% else %}{% trans "Create new order" %}{% endif %} <small>{{ school.name }}</small></h1>
{% blocktrans %}Using this form you can order examination materials for your school.{% endblocktrans %}

<form method="post" action="{% url "education:orderedit" uuid=school.uuid order_uuid=object.uuid %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% comment %}
    {% for i in inlines %}
    <fieldset>
        <legend>{% trans "Tests and CDs to be ordered" %}</legend>
        {% crispy i helper %}
    </fieldset>
    {% endfor %}{{ inlines.management_form|crispy }}
    {% endcomment %}
    

<table class="table table-striped">
{% for oi in object.get_items %}
{% ifchanged oi.subject.group %}
    <thead>
        <tr>
            <th colspan="4"><h3>{{ oi.subject.group.name }}</h3></th>
        </tr>
        <tr>
            <th></th>
            <th colspan="3" width="30%">{% trans "Amount (pcs)" %}</th>
        </tr>
        <tr>
            <th>{% trans "Subject" %}</th>
            {% for m in materials %}
            <th>{{ m }}</th>
            {% endfor %}
        </tr>
    </thead>
{% endifchanged %}

    {% if forloop.first %}
        <input type="hidden" name="orderitem_set-TOTAL_FORMS" value="{{ forloop.revcounter }}"/>
        <input type="hidden" name="orderitem_set-INITIAL_FORMS" value="{{ forloop.revcounter }}"/>
        <input type="hidden" name="orderitem_set-MAX_NUM_FORMS" value="{{ forloop.revcounter }}"/>
    
        <tr>
    {% endif %}
    {% ifchanged oi.subject %}
        </tr>
        <tr>
            <td>{{ oi.subject }}</td>
    {% endifchanged %}

            {% if oi.subject|subject_has_material:oi.material_type %}
                <td style="width: 10%;">
                    <input type="number" min="0"{% if oi.material_type.max_amount > 0 %}max="{{ oi.material_type.max_amount }}" maxlength="{{ oi.material_type.maxlength }}"{% endif %} size="4" name="orderitem_set-{{ forloop.counter0 }}-amount" value="{% order_subject_count object oi.subject oi.material_type %}" class="numberinput form-control form-control amount"/>
                    <input type="hidden" name="orderitem_set-{{ forloop.counter0 }}-id" value="{{ oi.pk }}"/>
                    <input type="hidden" name="orderitem_set-{{ forloop.counter0 }}-subject" value="{{ oi.subject.pk }}"/>
                    <input type="hidden" name="orderitem_set-{{ forloop.counter0 }}-material_type" value="{{ oi.material_type.pk }}"/>
                    <input type="hidden" name="orderitem_set-{{ forloop.counter0 }}-order" value="{{ oi.order.pk }}"/>
                </td>
            {% else %}
                <td>-</td>
            {% endif %}
    {% if forloop.last %}
        </tr>
    {% endif %}
{% endfor %}
</table>


    <p><strong>{% blocktrans %}Note: Order will replace previous orders for selected site when submitted.{% endblocktrans %}</strong></p>

    <p><input type="submit" value="{% trans "Submit" %}" class="btn btn-success"/> <input type="reset" value="{% trans "Reset" %}" class="btn btn-danger"/></p>

</form>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block extendstyle %}
{{ block.super }}
<style>
form table input.checkboxinput, form table th.checkbox {display: none;}
</style>
{% comment %}TODO: Fix...{% endcomment %}
{% endblock %}