{% load i18n %}
    <li class="list-group-item"><h4 class="list-group-item-heading">{% trans "Order" %} {{ o.date }} <small>{% trans "to site " %} <strong>{{ o.site.name }}</strong></small> <span class="label label-info">{{ o.get_status_display }}</span></h4>
    <p><a href="#" class="btn btn-success pull-right">{% trans "Update order" %}</a><strong>{% trans "Order ID:" %}</strong> {{ o.uuid }}, {% trans "by" %} {{ o.created_by }}</p>
    <ul>
    {% for i in o.get_items %}
        <li>{{ i.amount }} {% trans "pcs" %} <strong>{{ i.subject.name }}</strong> ({{ i.subject.short }})</li>
    {% endfor %}
    </ul></li>