{% extends "education/base.html" %}
{% load i18n %}
{% load orders %}
{% block title %}{% trans "Order" %} {{ object.date }} - {{ block.super }}{% endblock %}

{% block breadcrumb %}<li><a href="{% url "education:schools" %}">{% trans "Schools" %}</a></li>
<li><a href="{% url "education:school" uuid=school.uuid %}">{{ school.name }}</a></li>
<li><a href="{% url "education:orders" uuid=school.uuid %}">{% trans "Orders" %}</a></li>
<li>{% trans "Order" %} {{ object.date }}</li>{% endblock %}

{% block content %}
<h1>{% trans "Material Order" %} {{ object.date }} <small>{{ school.name }}</small> {% comment %}<a class="btn btn-sm btn-default" href="{% url "education:candidateedit" uuid=school.uuid candidate_uuid=object.uuid %}">{% trans "Edit" %}</a> {% endcomment %}</h1>

<dl>
    <dt>{% trans "Order Date:" %}</dt>
        <dd>{{ object.date }}</dd>
    <dt>{% trans "Site:" %}</dt>
        <dd>{{ object.site.name }}</dd>
    <dt>{% trans "By:" %}</dt>
        <dd>{{ object.created_by }}, <small>{% trans "order confirmation sent to" %} {{ object.email|default:"-" }}</small></dd>
</dl>

<h2>{% trans "Order Details" %}</h2>

{% with object.get_items as order_items %}
{% regroup order_items by subject.group as groups %}
{% for group in groups %}
<h4>{{ group.grouper.name }}</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th colspan="3" width="30%">{% trans "Amount (pcs)" %}</th>
        </tr>
        <tr>
            <th>{% trans "Subject" %}</th>
            {% for m in materials %}
            <th>{{ m }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>{% trans "Total" %}</th>
            {% for m in materials %}
                <th>{% order_sg_total order group.grouper m %}</th>
            {% endfor %}
        </tr>
    </tfoot>
    <tbody>
        {% with group.list as item_list %}
        {% regroup item_list by subject as subjects %}
        {% for s in subjects %}
        <tr>
            <td>{{ s.grouper }}</td>
            {% for m in materials %}
                {% if s.grouper|subject_has_material:m %}
                <td style="width: 10%;">{% order_subject_count object s.grouper m %}</td>
                {% else %}
                <td style="width: 10%;">-</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>
</table>
{% endfor %}

<h4>{% trans "Additional Details" %}</h4>
<p>{{ object.additional_details|default:"(None)" }}</p>
{% endwith %}

{% endblock %}