{% extends "education/school_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% if object.pk and object.status != 'i' %}{% trans "Edit order" %} {{ object }}{% else %}{% trans "Create new order" %}{% endif %}
{% endblock %}

{% block breadcrumb %}{{ block.super }}
    {% comment %}<li><a href="{% url "education:candidates" uuid=school.uuid %}">{% trans "Candidates" %}</a></li>{% endcomment %}
    <li><a href="{% url "education:orders" uuid=school.uuid %}">{% trans "Orders" %}</a></li>
    <li>{% if object.pk and object.status != 'i' %}{% trans "Edit order" %} {{ object }}{% else %}{% trans "Create new order" %}{% endif %}</li>
{% endblock %}

{% block content %}
<h1>{% if object.pk and object.status != 'i' %}{% trans "Edit order" %} {{ object.date }}{% else %}{% trans "Create new order" %}{% endif %} <small>{{ school.name }}</small></h1>
{% blocktrans %}Using this form you can order examination materials for your school.{% endblocktrans %}

<form method="post" action="{% url "education:orderedit" uuid=school.uuid order_uuid=object.uuid %}">
    
    {{ form|crispy }}
    {% for i in inlines %}
    <fieldset>
        <legend>{% trans "Tests and CDs to be ordered" %}</legend>
        {% crispy i helper %}
    </fieldset>
    {% endfor %}
    {{ inlines.management_form|crispy }}

    <p><strong>{% blocktrans %}Note: Order will replace previous orders for selected site when submitted.{% endblocktrans %}</strong></p>

    <p><input type="submit" value="{% trans "Submit" %}" class="btn btn-success"/> <input type="reset" value="{% trans "Reset" %}" class="btn btn-danger"/></p>

</form>
{% endblock %}