{% extends "exams/base.html" %}
{% load i18n %}

{% block title %}{{ object.title }} - {{ object.exam.title }}{% endblock %}

{% block breadcrumb %}<li><a href="{% url "exams:examination" slug=object.examination.slug %}">{{ object.examination.title }}</a></li><li><a href="">{{ object.title }}</a></li>{% endblock %}

{% block content %}
<h1>{{ object.title }} <small>{{ object.begin }} - {{ object.end }} ({{ object.examination.title }})</small></h1>

{% if object.assignment_count > 0 %}
    {% for assignment in object.get_assignments %}
    
        {% include "exams/assignment_display.html" %}



    {% if not forloop.last %}
    <hr/>
    {% endif %}
    {% endfor %}
{% else %}
    <p>No assignments.</p>
{% endif %}

{% endblock %}